

@import url(http://fonts.googleapis.com/css?family=Short+Stack|Emblema+One|Lobster|Alegreya+SC:900,700italic|Alegreya);

body{

  max-width: 900px;
  font-size: 20px;
  color:rgb(215,107,242);
  background: url("./grey_wash_wall.png");
  line-height: 20px;
  margin:auto;

}
#title{

  font-family: "Alegreya SC",italic;
  color:rgb(86,140,227);
  border: dashed 5px ;
  padding:20px 20px 20px 20px;
  margin:auto;
  width:130px;
  text-align: center;
  -webkit-transition: width 2s ease;
  transition: width 2s ease;
}
#title:hover{

  -webkit-transition: width 2s ease;
  transition: width 2s ease;
    width: 500px;

}

#subtitle{

  color:rgb(227,133,86);
}

ul li{
font-family: Lobster;

}
p{
color: rgb(175, 157, 179);


}



h3{

font-family: EmblemaOne,cursive;
color: rgb(203,227,86);
}

section{
  
  font-family: Short Stack,cursive;
}

footer :hover{

  color:#FFFFFF
;
}

